 <!--忘记密码-->

   <div class="bar bar-header bar-positive">
 	<a href="#/profileSetup">
 	        <button class="button button-icon ion-ios-arrow-left"  >
        </button>
        </a>
      <h3 class="title">帮助</h3>
    </div>
    <ion-view view-title="设置">
	<ion-content class="bg">
    <div class="white-bg mt44">
    	<div class="rule">
    		<div class="q-title">一.常见问题</div>
    		<div class="line-height">
    		<span class="title-one">Q:</span>
    		<span class="title-one-desc">
    			下载安装软件？
    		</span>
    		</div>
    			<div class="line-height">
    		<span class="title-two">A:</span>
    		<span class="title-two-desc">
    			1、安卓系统：可在360手机助手、91助手、豌豆荚、安卓市场等软件下载平台搜索"思考广告"，即可免费下载安装。
    		</span><br />
    		<span class="title-two-desc">
    			2、ios系统：可在苹果App Store中搜索软件"思考广告"，即可免费下载安装。
    		</span><br />
    		<span class="title-two-desc">
    			3、登录官网 <a href="www.sikaoguanggao.com">www.sikaoguanggao.com</a>根据手机系统下载软件。
    		</span><br />
    	
    		</div>
    				<div class="line-height">
    		<span class="title-one">Q:</span>
    		<span class="title-one-desc">
    			注册、登录？
    		</span>
    		</div>
    				<div class="line-height">
    		<span class="title-two">A:</span>
    		<span class="title-two-desc">
    			A:1、新用户注册：点击打开"思考广告"软件，根据提示输入手机号码、获取验证码、设置登录密码等信息即可完成注册
    		</span><br />
    			<span class="title-two-desc">
    			2、已注册用户登录：点击打开"思考广告"软件，在登录页面根据提示输入手机号码、密码等相关信息登录软件。
    		</span><br />
    		</div>
    						<div class="line-height">
    		<span class="title-one">Q:</span>
    		<span class="title-one-desc">
    			思考广告收益怎么获得？
    		</span>
    		</div>
    				<div class="line-height">
    		<span class="title-two">A:</span>
    		<span class="title-two-desc">
    			A:收益栏点击马上赚钱直接跳转广告页面。当用户注册成功并完善个人信息后，系统会根据用户喜好设置每天推送10条广告。用户可以通过推送内容直接点击广告观看后，并回答问题，获得收益。如果用户看完广告后回答的问题选项为错误选项将失去本次获得人民币的机会，每位用户每天10条广告
    		</span><br />
    			
    		</div>
    						<div class="line-height">
    		<span class="title-one">Q:</span>
    		<span class="title-one-desc">
    			为什么要完善个人信息？
    		</span>
    		</div>
    				<div class="line-height">
    		<span class="title-two">A:</span>
    		<span class="title-two-desc">
    			A:用户完善个人信息后，服务器会根据用户的喜好推送用户喜欢的广告类型，同时可以为用户推送高收益的广告。
    		</span><br />
    		
    		</div>
    		 						<div class="line-height">
    		<span class="title-one">Q:</span>
    		<span class="title-one-desc">
    			为什么要实名注册认证？
    		</span>
    		</div>
    				<div class="line-height">
    		<span class="title-two">A:</span>
    		<span class="title-two-desc">
    			A:当用户收益达到一定数额后，用户需要转出余额，转出方式无论是支付宝还是个人银行账户，根据国家法律规定必须是实名用户，所有为了用户资金很账户安全，需要实名认证。
    		</span><br />
    		
    		</div>
    		 						<div class="line-height">
    		<span class="title-one">Q:</span>
    		<span class="title-one-desc">
    			收益如何提现？
    		</span>
    		</div>
    				<div class="line-height">
    		<span class="title-two">A:</span>
    		<span class="title-two-desc">
    			A:当用户收益达到一定数额后，用户发出转账申请，用户可以申请通过绑定的支付宝转号转到支付宝账户中，也可以申请转到个人银行账户，后台根据用户申请和转账金额大小批量为用户转账，目前转账的周期为T+1（当天申请，第二个工作日到账）。
    		</span><br />
    		
    		</div>
    		    		<div class="q-title mt10">二.联系客服</div>
    		    		 						<div class="line-height">
    		<span class="title-one">Q:</span>
    		<span class="title-one-desc">
    			客服电话工作时间？
    		</span>
    		</div>
    				<div class="line-height">
    		<span class="title-two">A:</span>
    		<span class="title-two-desc">
    			A:24小时在线。

    		</span><br />
    		
    		</div>
    		 						<div class="line-height">
    		<span class="title-one">Q:</span>
    		<span class="title-one-desc">
    			如果我有问题或建议可以通过什么方式向你们反馈？
    		</span>
    		</div>
    				<div class="line-height">
    		<span class="title-two">A:</span>
    		<span class="title-two-desc">
A:1、拨打客服热线：400
    		</span><br />
    			<span class="title-two-desc">
2、在思考软件里面提交意见反馈
    		</span><br />
    			<span class="title-two-desc">
3、欢迎人群交流：
    		</span><br />
    			<span class="title-two-desc">
思考意见反馈1群：
    		</span><br />
    			<span class="title-two-desc">
思考已经反馈2群：
    		</span><br />
    			<span class="title-two-desc">
客服总群：
    		</span><br />
    		</div>
    		 						<div class="line-height">
    		<span class="title-one">Q:</span>
    		<span class="title-one-desc">
    			为什么客服电话总是打不通？
    		</span>
    		</div>
    				<div class="line-height">
    		<span class="title-two">A:</span>
    		<span class="title-two-desc">
    			A:很抱歉，随着思考业务的发展增多，有时候咨询量导致客服电话繁忙，我公司会尽快解决这一问题，同时建议您可以避开高峰期打客服电话。

    		</span><br />
    		
    		</div>
    	</div>
    	

    </div>
 	</ion-content>
</ion-view>

   