 <!--忘记密码-->

   <div class="bar bar-header bar-positive">
 	<a  ui-sref="tabs.PIM">
 	        <button class="button button-icon ion-ios-arrow-left"  >
        </button>
        </a>
      <h3 class="title">添加邀请我的人</h3>
    </div>
    <ion-view view-title="绑定邮箱" class=" bg">
	<ion-content class="pt10"  ng-controller="identity_ctr">

					<div class="content has-header">
						<div class="list">
							<label class="item item-input">
          <span class="input-label" >邀请码</span>
          <input type="text"  placeholder="请输入邀请人邀请码"  ng-model="$root.invite_code" >
        </label>
				
						</div>
						<div class="plr10">
							<button class="button  button-block  btn-red" on-tap="addUserInvite()">确定</button>
						</div>
						
					</div>			
    </ion-content>
</ion-view>

   