  <!--个人信息-->

    <div class="bar bar-header bar-positive">
    	<a href="#/tab/PIM">
 	        <button class="button button-icon ion-ios-arrow-left"  >
        </button>
        </a>
	<h3 class="title">基本信息</h3>

</div>
 <ion-view view-title="基本信息">
	<ion-content class="bg">
<div id="PIM">
    <div class="content has-header ionic-pseudo">

      <div class="list profile">

        <a class="item pl20 item-frist" href="#" style="line-height: 40px;">
                 头像
          <img src="../src/images/head.png" class="right" width="40" height="40" alt="头像" />
        </a>
 <div class="item-divider">         
        </div>

        <a class="item pl20 " href="#">
          邮箱
        </a>

                <div class="white-bg">
        <a class="item pl10 profile-list-border" href="#">

          管理收货地址
         
        </a>
        </div>
 <div class="item-divider">  
        </div>
        <a class="item pl20" href="#">

          支付宝

        </a>
                        <div class="white-bg">
<a class="item pl10 profile-list-border" href="#">

          身份认证

        </a>
        </div>
                        <div class="white-bg">
       <a class="item pl10 profile-list-border" href="#">

          资金密码管理

        </a>
                                <div class="white-bg">
<a class="item pl10 profile-list-border" href="#">

          修改登录密码

       </a>   
        </div>
      </div>

    </div>
    </div>
    	</ion-content>
</ion-view>

   