  <!--个人信息-->

    <div class="bar bar-header bar-positive">
    	<a href="#/tab/PIM">
 	        <button class="button button-icon ion-ios-arrow-left"  >
        </button>
        </a>
	<h3 class="title">设置</h3>

</div>
 <ion-view view-title="设置">
	<ion-content class="bg">
<div id="PIM">
    <div class="content has-header ionic-pseudo">

      <div class="list profile">

      
 <div class="item-divider">         
        </div>

        <a class="item pl20 " href="#">
          流量控制
        </a>
 <div class="item-divider">         
        </div>
          <a class="item pl20 " ui-sref="response">
          意见反馈
        </a>
                <div class="white-bg">
        <a class="item pl10 profile-list-border" href="#">

          检测更新
         
        </a>
        </div>
                   <div class="white-bg">
        <a class="item pl10 profile-list-border" ui-sref="help">

          关于使用帮助
         
        </a>
        </div>
 <div class="item-divider">  
        </div>
         <div class="item-divider">  
        </div>
        <a class="item pl20 text-center" href="#" >

          退出登录

        </a>
                     
    
      </div>

    </div>
    </div>
    	</ion-content>
</ion-view>

   