 <!--忘记密码-->

  <div class="bar bar-header bar-positive">
	<a href="#/login">
		<button class="button button-icon ion-ios-arrow-left">
        </button>
	</a>
	<h3 class="title">忘记密码</h3>
</div>
<ion-view view-title="忘记密码" class="bg">
	<ion-content class="pt10" ng-controller="forgetPwd_ctr">
		<div class="content has-header">
			<div class="list">
				<label class="item item-input">
		          <span class="input-label" >用户名</span>
		          <input type="text"  placeholder="请输入用户名" ng-model="uName">
				</label>
						
				<label class="item item-input">
		          <span class="input-label" >邮&nbsp;&nbsp;&nbsp;箱</span>
		          <input type="email"  placeholder="请输入邮箱" ng-model="email">
		        </label>

			</div>
			<div class="plr10">
				<button class="button  button-block  btn-red" on-tap="forgetPwd()">确定</button>
			</div>

		</div>
	</ion-content>
</ion-view>

   