<!--登录-->

<div class="bar bar-header bar-positive">
	<h3 class="title">登 录</h3>
</div>
<ion-view view-title="登录" class="bg">
	<ion-content class="pt10" ng-controller="login_ctr">

		<div class="content has-header">
			<div class="list">
				<label class="item item-input">
		         	<span class="input-label" >用户名</span>
		          	<input type="text"  placeholder="请输入用户名"  ng-model="mobile" >
	        	</label>
				<label class="item item-input">
		          <span class="input-label" >密&nbsp;&nbsp;&nbsp;码</span>
		          <input type="password"  placeholder="请输入密码"     ng-model="password" > 	
		        </label>
			</div>
			<div class="plr10">
				<button class="button  button-block waves-effect  btn-red" on-tap="login()">登录</button>
			</div>
			<div class="plr10">
				<a ui-sref="forgetPwd">忘记密码?</a>
				<a class="right" ui-sref="register">注册</a>
			</div>
		</div>

	</ion-content>
</ion-view>
   