#homeCList{
    a{
        padding: 12px 15px;
        font-size: 16px;
        box-shadow: 0px 0px 0px;
        border-bottom: 1px solid #ccc;
        color: #444;
        i{
            font-size: 24px;
        }
    }
    
}
 .list {
        margin-bottom: 0px;
    }
#homeCList #homeCList2{
   
    a{
        padding: 8px 20px;
        font-size: 14px;
        box-shadow: 0px 0px 0px;
        border-bottom: 1px solid #ddd;
        background-color: #fafafa;
        color: #555;
        i{
            font-size: 20px;
        }
    }
    
}
.slider-pager .slider-pager-page{
        color: #808080;
        opacity: 0.4;
}
.slider-pager .slider-pager-page.active{
        opacity: 0.9;
}
.slider-pager {
    position: absolute;
    bottom: 12px;
    z-index: 1;
    width: 100%;
    height: 15px;
    text-align: center;
}
.tishi{
   
    font-size: 20px;
    color: #ec5f32;
    display: inline-block;
    margin-bottom: -4px;
    position: absolute;
}
.PositionStart{
    position: absolute;
    left: -270px;
    transition: 0s linear;
}
.PositionEnd{
    position: absolute;
    left: 100%;
    transition: 6s linear;
}
.PositionState{
    position: absolute;
    left: 15px;
    transition: 6s linear;
}
   .list .item{
       box-shadow: 0px 0px 0px #fff;
       border: 1px solid #dadada;

   }  
   
.serverModal{
    margin-top: 10px;
    padding: 10px;
    .titleSer{
    font-size: 18px;
    color: #555;
    border-left: 3px solid #099;
    padding-left: 8px;
    margin-bottom: 7px;
    }
    
    .SMcard{
        margin-top: 10px;
        padding: 10px;
        background-color: #FFFFFF;
        box-shadow: 0 0 4px #ececec;
       .left{
           text-align: center;
           .iconTop{
                font-size: 40px;
                color:#099;
                padding: 16px 0 10px;
                
           }
           .wenBt{
               font-size: 15px;
                color: #099;
           }
       }
        .right{
            padding-left: 10px;
            color: #666;
            .listS{
                margin: 3px 0;
                i{
                  color: #666;
                }
                span{
                    margin-left: 10px;
                };
            }
        }
    }
 
    
    .SMcard3{
        margin-top: 10px;
        padding: 10px;
        background-color: #FFFFFF;
        box-shadow: 0 0 4px #ececec;
        .icoin span {
            font-size: 36px;
            border: 1px solid #ccc;
            border-radius: 50px;
            padding: 20px 15px 15px 20px;
            color: #099;
        }
        .SMC3col{
            text-align: center;
            font-size: 14px;
            color: #555;
                padding-bottom: 10px;
            margin-bottom: -6px;
        }
       
    }
   .SMcard3Active{
       border-bottom: 1px solid #099;
       color: #099!important;
       .icoin{
           
           span {
               color: #fff;
                background-color: #099;
                border: 1px solid #099;
           }
       }
   }
     .SMcard3Nei{
        border-top: 1px solid #ccc;
        padding-top: 10px;
        .neiRong{
            text-align: justify; 
            padding: 10px;
            background: #fafafa;
            color: #666;
        }
        }
}
.serverModal2{
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    .titleSer{
    font-size: 18px;
    color: #555;
    border-left: 3px solid #099;
    padding-left: 8px;
    margin-bottom: 7px;
    }
    
    .SMcard2{
        text-align: center;
        margin-top: 10px;
        padding: 10px;
       .title{
           i{
               font-size: 40px;
               color: #009999;
           }
           span{
               font-size: 16px;
               color: #009999;
               margin-bottom: 10px;
           }
         
       }
         p{
               text-align: justify;
               color: #555;
           }
    }
    
    
}
.Homefooter{
    background-color: #40454c;
    padding: 15px;
    .FirList{
        text-align: center;
        border-right:1px solid #fff ;
        color: #fff;
    }
    .img_wc{
        width: 120px;
        height: 120px;
        background-color: #525c69;
        padding: 10px;
        img{
            width: 100px;
            height: 100px;
        }
    }
    .footer-certificate{
        color: #fff;
        padding-left: 15px;
        i{
            font-size: 28px;
        }
        
    }

}
    .footerBtm{
        background: #2f3438;
        text-align: center;
        color: #ccc;
        padding: 10px 30px; 
    }
    .slider-slides{
        height: auto;
    }
    .HAuto{
        height: auto;
    }
    
#userMag2{
      padding: 15px;
      background-color: #fff;
        position: relative;
            height: 100px;
    border-bottom: 1px solid #eee;
    .erwema{
            padding-top: 22px;
            float: right; 
            font-size: 24px;
            color: #888888;  
            i{
                margin-left: 8px;
            }
            }
    .userMSHeader{
        
         float: left;
        .SMname{
            display: inline-block;
            position: absolute;
                top: 27px;
            left: 97px;
            font-size: 20px;
            .biaozhu{
                color: #777;
                margin-top: 8px;
                font-size: 16px;
            }
          
        }
        img{
             height: 70px;
            width: 70px;
            border-radius: 40px;
        }
       
    }
}

.acbCard{
    .cardtitle{
        background-color: #fff;
        padding: 14px 25px;
        border-radius: 3px;
        margin-bottom: -20px;
        z-index: 5;
        position: relative;
        box-shadow: 0px 1px 5px rgba(23, 23, 23, 0.57);
        color: #e07400;
        font-size: 24px;
    }
    .cardbody{
        margin-top: 20px;
        text-align: center;
        h3{
            color: #777;
            font-size: 15px;
            font-weight: 600;
        }
        .sehngyu{
            span{
                display: inline-block;
                margin: 5px;
                background-color: #099;
                color: #fff;
                padding: 8px 12px;
                border-radius: 4px;
            }
        }
        .zhifuewm{
            margin-top: 0px;
            margin-bottom: 0px;
            img{
                width: 40%;
            }
        }
        .cardMs{
             margin-top: 10px;
            font-size: 10px;
            color: #afafaf;
            .active{
                color: #099;
            }
        }
        .changepay{
            text-align: center;
            font-size: 14px;
           .CPleft{
                border-right:1px solid #ccc;
                padding-right:10px;
                margin-right: 5px;
            }
            span{
                display: inline-block;
                color:#666;
            }
            .active{
                color:#099;
            }
        }
    }

}
    .miaoshu{
        margin-top: -215px;
        position: relative;
        margin-bottom: 125px;
        padding: 15px 20px;
        background-color: rgba(72, 90, 123, 0.56);
        color: #fff;
        text-align: justify;
    }
    .buttonMS{
        text-align: center;
        margin-bottom: 25px;
        p{
            font-weight: 600;
            font-size: 15px;
            color: #666;
        }
        .changeLei{
            text-align: center;
            font-size: 14px;
           .CPleft{
                border-right:1px solid #ccc;
                padding-right:10px;
                margin-right: 5px;
            }
            span{
                display: inline-block;
                color:#666;
            }
            .active{
                color:#099;
            }
        }
    }

    .card .item:last-child, .list-inset .item:last-child {
    margin-bottom: -1px;
    border-radius: 5px;
}